streamlit
pandas
numpy
plotly

faiss-cpu

scikit-learn

langchain
langchain-core
langchain-community
langchain-openai
langchain-huggingface
langchain-groq

groq
openai

python-dotenv
requests
beautifulsoup4
